In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np

In [2]:
def table_gen(url):
    page = requests.get(url).text
    soup = bs(page, 'lxml')
    target_table = soup.find('table', attrs={'class':'tablesorter-blue'})
    table_rows = target_table.find_all("tr")
    res = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            res.append(row)
    df = pd.DataFrame(res, columns = ['EMPLOYER', 'JOB_TITLE', 'BASE_SALARY', 'LOCATION', 'SUBMIT_DATE', 'START_DATE'])
    df = df.dropna(axis = 0) # to remove rows without job title
    df = df.reset_index().drop(columns=['index'])
    return df

In [3]:
sanfran = table_gen('https://h1bdata.info/index.php?em=&job=&city=SAN+FRANCISCO&year=All+Years')
sanfran

,EMPLOYER,JOB_TITLE,BASE_SALARY,LOCATION,SUBMIT_DATE,START_DATE
0,GEEKSOFT LLC,&NBSP;APPLICATION INTEGRATION ENGINEER,"105,000","SAN FRANCISCO, CA",02/27/2018,08/15/2018
1,COOKSTREAM INC,.NET DEVELOPER,"71,080","SAN FRANCISCO, CA",03/26/2015,09/23/2015
2,PRECISION GLOBAL CONSULTING INC,.NET DEVELOPER,"80,000","SAN FRANCISCO, CA",03/24/2015,03/30/2015
3,SAIBERSYS INC,.NET DEVELOPER,"95,000","SAN FRANCISCO, CA",07/18/2018,07/18/2018
4,DIVERSANT LLC,.NET DEVELOPER,"104,000","SAN FRANCISCO, CA",06/01/2016,06/06/2016
...,...,...,...,...,...,...
49990,MSCRIPTS LLC,PRODUCT MANAGER,"106,454","SAN FRANCISCO, CA",10/03/2016,10/11/2016
49991,DROPBOX INC,PRODUCT MANAGER,"107,100","SAN FRANCISCO, CA",02/19/2019,08/20/2019
49992,DROPBOX INC,PRODUCT MANAGER,"107,100","SAN FRANCISCO, CA",02/19/2019,08/20/2019
49993,DROPBOX INC,PRODUCT MANAGER,"107,182","SAN FRANCISCO, CA",03/05/2020,08/27/2020
49994,CARGLASS INC,PRODUCT MANAGER,"108,000","SAN FRANCISCO, CA",03/10/2017,09/05/2017