In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
api_key = '62e757a5c9f3a7.14671865'

In [3]:
url_ticker = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
ticker_table = pd.read_html(url_ticker)[0]
tickers = ticker_table.Symbol

## 1) Fundamental Data:

In [4]:
def general(symbol):
    mkt = 'US'
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['General'])

In [5]:
def Highlights(symbol):
    
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Highlights'], index=[0])

In [6]:
Highlights('AAPL').columns

Index(['MarketCapitalization', 'MarketCapitalizationMln', 'EBITDA', 'PERatio',
       'PEGRatio', 'WallStreetTargetPrice', 'BookValue', 'DividendShare',
       'DividendYield', 'EarningsShare', 'EPSEstimateCurrentYear',
       'EPSEstimateNextYear', 'EPSEstimateNextQuarter',
       'EPSEstimateCurrentQuarter', 'MostRecentQuarter', 'ProfitMargin',
       'OperatingMarginTTM', 'ReturnOnAssetsTTM', 'ReturnOnEquityTTM',
       'RevenueTTM', 'RevenuePerShareTTM', 'QuarterlyRevenueGrowthYOY',
       'GrossProfitTTM', 'DilutedEpsTTM', 'QuarterlyEarningsGrowthYOY'],
      dtype='object')

In [7]:
def Valuation(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Valuation'], index=[0])

In [8]:
Valuation('AAPL').columns

Index(['TrailingPE', 'ForwardPE', 'PriceSalesTTM', 'PriceBookMRQ',
       'EnterpriseValue', 'EnterpriseValueRevenue', 'EnterpriseValueEbitda'],
      dtype='object')

In [9]:
def SharesStats(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['SharesStats'], index=[0])

In [10]:
SharesStats('AAPL').columns

Index(['SharesOutstanding', 'SharesFloat', 'PercentInsiders',
       'PercentInstitutions', 'SharesShort', 'SharesShortPriorMonth',
       'ShortRatio', 'ShortPercentOutstanding', 'ShortPercentFloat'],
      dtype='object')

In [11]:
def Valuation(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Valuation'], index=[0])

In [12]:
Valuation('AAPL')

,TrailingPE,ForwardPE,PriceSalesTTM,PriceBookMRQ,EnterpriseValue,EnterpriseValueRevenue,EnterpriseValueEbitda
0,26.8612,24.6914,6.787,37.786,2615208230350,6.7749,19.6671

In [13]:
def SharesStats(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['SharesStats'], index=[0])

In [14]:
SharesStats('AAPL')

,SharesOutstanding,SharesFloat,PercentInsiders,PercentInstitutions,SharesShort,SharesShortPriorMonth,ShortRatio,ShortPercentOutstanding,ShortPercentFloat
0,16185199616,16053877710,0.072,60.082,None,None,None,None,None

In [15]:
def Technicals(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Technicals'], index=[0])

In [16]:
Technicals('AAPL')

,Beta,52WeekHigh,52WeekLow,50DayMA,200DayMA,SharesShort,SharesShortPriorMonth,ShortRatio,ShortPercent
0,1.1946,182.4391,129.04,144.2238,158.9387,104993162,112994371,1.32,0.0065

In [17]:
def SplitsDividends(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['SplitsDividends'], index=[0])

In [18]:
SplitsDividends('AAPL')

,ForwardAnnualDividendRate,ForwardAnnualDividendYield,PayoutRatio,DividendDate,ExDividendDate,LastSplitFactor,LastSplitDate,NumberDividendsByYear
0,0.92,0.0057,0.1485,2022-05-12,2022-05-06,4:1,2020-08-31,NaN

In [19]:
def AnalystRatings(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['AnalystRatings'], index=[0])

In [20]:
AnalystRatings('AAPL')

   Rating  TargetPrice  StrongBuy  Buy  Hold  Sell  StrongSell
0  4.3333     169.8754         28    7     8     1           1

In [27]:
def HoldersInstitutions(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Holders']['Institutions']).T

In [28]:
HoldersInstitutions('AAPL')

,name,date,totalShares,totalAssets,currentShares,change,change_p
0,Vanguard Group Inc,2022-03-31,7.8467,5.2456,1269995750,8734393,0.6925
1,BlackRock Inc,2021-12-31,6.3009,4.6097,1019810291,-6413692,-0.625
2,Berkshire Hathaway Inc,2022-03-31,5.5046,42.7899,890923410,3787856,0.427
3,State Street Corporation,2022-03-31,3.7927,5.3005,613852274,-19262972,-3.0426
4,FMR Inc,2022-03-31,2.1723,4.9049,351584762,-619367,-0.1759
5,"Geode Capital Management, LLC",2022-03-31,1.6811,5.9152,272081668,7729767,2.924
6,"T. Rowe Price Associates, Inc.",2022-03-31,1.4401,4.1039,233079365,9930573,4.4502
7,Northern Trust Corp,2022-03-31,1.1494,5.7144,186031985,-4844029,-2.5378
8,Bank of America Corp,2022-03-31,0.8922,2.4511,144401747,14358085,11.041
9,Bank of New York Mellon Corp,2022-03-31,0.8736,4.784,141394714,-3301221,-2.2815
10,JPMorgan Chase & Co,2022-03-31,0.7829,2.6649,126714786,2065807,1.6573
11,Morgan Stanley - Brokerage Accounts,2022-03-31,0.7729,2.9459,125095777,-7365787,-5.5607
12,Legal & General Group PLC,2022-03-31,0.7051,6.0613,114123375,6955189,6.49
13,"Nuveen Asset Management, LLC",2022-03-31,0.5205,4.5145,84246528,-901724,-1.059
14,Charles Schwab Investment Management Inc,2022-03-31,0.4988,4.2357,80739774,1155915,1.4524
15,Goldman Sachs Group Inc,2022-03-31,0.4683,2.7793,75793293,7528845,11.0289
16,UBS Asset Mgmt Americas Inc,2022-03-31,0.4433,5.3672,71750079,-2153744,-2.9143
17,Wells Fargo & Co,2022-03-31,0.4411,3.1969,71387442,-289331,-0.4037
18,Swiss National Bank,2022-03-31,0.439,6.9966,71060708,8230300,13.0992
19,Wellington Management Company LLP,2022-03-31,0.4148,2.0073,67133546,6162898,10.108

In [29]:
def HoldersFunds(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Holders']['Funds']).T

In [30]:
HoldersFunds('AAPL')

,name,date,totalShares,totalAssets,currentShares,change,change_p
0,Vanguard Total Stock Mkt Idx Inv,2022-06-30,2.801,5.5559,453344258,-890694,-0.1961
1,Vanguard 500 Index Investor,2022-06-30,2.1027,6.5499,340328725,2558322,0.7574
2,SPDR® S&P 500 ETF Trust,2022-06-30,1.0304,6.5643,166764146,-136290,-0.0817
3,Fidelity® 500 Index,2022-05-31,1.0099,6.5919,163453100,1209686,0.7456
4,Invesco QQQ Trust,2022-06-30,0.8706,12.5824,140914809,373903,0.266
5,iShares Core S&P 500 ETF,2022-06-30,0.8261,6.571,133704020,-36444,-0.0272
6,Vanguard Growth Index Investor,2022-06-30,0.7662,12.6642,124011959,-1462349,-1.1655
7,Vanguard Institutional Index I,2022-06-30,0.7026,6.5774,113711109,-1862104,-1.6112
8,Vanguard Information Technology ETF,2022-06-30,0.4775,22.9325,77283408,706050,0.922
9,State St S&P 500® Indx SL Cl III,2022-06-30,0.437,6.4856,70721249,24600,0.0348
10,Technology Select Sector SPDR® ETF,2022-06-30,0.3915,22.802,63367339,-4586287,-6.7491
11,iShares Russell 1000 Growth ETF,2022-06-30,0.3055,11.8234,49442522,-28392,-0.0574
12,Blackrock Eq Idx Fund CF,2022-06-30,0.295,6.5122,47748611,-99822,-0.2086
13,Russell 1000 Index Fund,2022-06-30,0.2754,5.8977,44577447,-338090,-0.7527
14,T. Rowe Price Blue Chip Growth,2022-06-30,0.2586,9.1256,41848171,-1251923,-2.9047
15,T. Rowe Price US Large-Cap Core Grwth Eq,2022-06-30,0.2586,9.1256,41848171,-1251923,-2.9047
16,NT S&P 500 Index Fund - NL,2022-06-30,0.2103,6.5408,34044237,-761716,-2.1885
17,Fidelity Growth Compy Commingled Pl 3,2022-05-31,0.2081,9.4665,33683220,0,0
18,Fidelity® Growth Company,2022-05-31,0.2065,10.9342,33420848,0,0
19,Fidelity® Blue Chip Growth,2022-05-31,0.1991,11.3147,32219275,0,0

In [33]:
def InsiderTransactions(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['InsiderTransactions']).T

In [34]:
InsiderTransactions('AAPL')

,date,ownerCik,ownerName,transactionDate,transactionCode,transactionAmount,transactionPrice,transactionAcquiredDisposed,postTransactionAmount,secLink
0,2022-05-04,None,Katherine L Adams,2022-05-04,S,25000,161.72,D,452334,http://www.sec.gov/Archives/edgar/data/320193/...
1,2022-04-18,None,Deirdre O'brien,2022-04-18,S,8000,164.91,D,136290,http://www.sec.gov/Archives/edgar/data/320193/...
2,2022-04-04,None,Deirdre O'brien,2022-04-04,S,29198,177.77,D,136290,http://www.sec.gov/Archives/edgar/data/320193/...
3,2022-04-04,None,Jeffrey E. Williams,2022-04-04,S,105901,177.75,D,489662,http://www.sec.gov/Archives/edgar/data/320193/...
4,2022-02-03,None,Katherine L Adams,2022-02-03,S,25000,174.78,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
5,2022-02-01,None,Arthur D Levinson,2022-02-01,S,1986,173.29,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
6,2021-11-12,None,Chris Kondo,2021-11-12,S,9005,150,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
7,2021-11-01,None,Katherine L Adams,2021-11-01,S,25000,148.68,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
8,2021-10-19,None,Luca Maestri,2021-10-19,S,165829,148.62,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
9,2021-10-18,None,Deirdre O'brien,2021-10-18,S,18247,146.35,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
10,2021-10-04,None,Deirdre O'brien,2021-10-04,S,89437,138.83,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
11,2021-10-04,None,Jeffrey E Williams,2021-10-04,S,165829,138.83,D,489490,http://www.sec.gov/Archives/edgar/data/320193/...
12,2021-08-25,None,Timothy D Cook,2021-08-25,S,2386440,148.58,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
13,2021-08-06,None,Deirdre O'brien,2021-08-06,S,14877,145.99,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
14,2021-08-02,None,Katherine L. Adams,2021-08-02,S,17000,145.89,D,324164,http://www.sec.gov/Archives/edgar/data/320193/...
15,2021-05-03,None,Katherine L Adams,2021-05-03,S,17000,132.8,D,333044,http://www.sec.gov/Archives/edgar/data/320193/...
16,2021-05-03,None,Luca Maestri,2021-05-03,S,121072,132.81,D,143961,http://www.sec.gov/Archives/edgar/data/320193/...
17,2021-04-16,None,Deirdre O'brien,2021-04-16,S,18216,134.01,D,None,http://www.sec.gov/Archives/edgar/data/320193/...
18,2021-04-05,None,Jeffrey E Williams,2021-04-05,S,133867,125.74,D,489490,http://www.sec.gov/Archives/edgar/data/320193/...
19,2020-11-03,None,Katherine L Adams,2020-11-03,S,17000,110.42,D,320784,http://www.sec.gov/Archives/edgar/data/320193/...

In [35]:
def ESGScores(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['ESGScores'])

In [36]:
ESGScores('AAPL')

,Disclaimer,RatingDate,TotalEsg,TotalEsgPercentile,EnvironmentScore,EnvironmentScorePercentile,SocialScore,SocialScorePercentile,GovernanceScore,GovernanceScorePercentile,ControversyLevel,ActivitiesInvolvement
0,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'adult', 'Involvement': 'No'}"
1,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'alcoholic', 'Involvement': 'No'}"
10,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'nuclear', 'Involvement': 'No'}"
11,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'pesticides', 'Involvement': 'No'}"
12,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'palmOil', 'Involvement': 'No'}"
13,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'coal', 'Involvement': 'No'}"
14,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'tobacco', 'Involvement': 'No'}"
2,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'animalTesting', 'Involvement': '..."
3,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'catholic', 'Involvement': 'No'}"
4,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'controversialWeapons', 'Involvem..."
5,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'smallArms', 'Involvement': 'No'}"
6,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'furLeather', 'Involvement': 'No'}"
7,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'gambling', 'Involvement': 'No'}"
8,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'gmo', 'Involvement': 'No'}"
9,The ESG data currently in a very early Beta st...,2019-01-01,26.15,36.8,0.99,5,13.98,5,11.18,5,3,"{'Activity': 'militaryContract', 'Involvement'..."

In [42]:
def outstandingSharesAnnual(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['outstandingShares']['annual']).T

In [43]:
outstandingSharesAnnual('AAPL')

    date dateFormatted   sharesMln              shares
0   2022    2022-12-31  16262.2030         16262203000
1   2021    2021-12-31  16519.2910  16519291000.000002
2   2020    2020-12-31  17113.6880  17113687999.999998
3   2019    2019-12-31  17818.4160         17818416000
4   2018    2018-12-31  19093.0080         19093008000
5   2017    2017-12-31  20631.1480         20631148000
6   2016    2016-12-31  21311.9800         21311980000
7   2015    2015-12-31  22376.5080         22376508000
8   2014    2014-12-31  23527.2120         23527212000
9   2013    2013-12-31  25240.6560         25240656000
10  2012    2012-12-31  26522.0760         26522076000
11  2011    2011-12-31  26364.0160         26364016000
12  2010    2010-12-31  26128.3120         26128312000
13  2009    2009-12-31  25753.9240         25753924000
14  2008    2008-12-31  25241.8320         25241832000
15  2007    2007-12-31  25201.5120         25201512000
16  2006    2006-12-31  24732.3160         24732316000
17  2005    2005-12-31  24477.7960         24477796000
18  2004    2004-12-31  23468.8720         23468872000
19  2003    2003-12-31  20849.2480         20849248000
20  2002    2002-12-31  20107.1920         20107192000
21  2001    2001-12-31  20020.5040         20020504000
22  2000    2000-12-31  18881.5200         18881520000
23  1999    1999-12-31  19982.7040         19982704000
24  1998    1998-12-31  19270.9440         19270944000
25  1997    1997-12-31  15661.9680         15661968000
26  1996    1996-12-31  13947.5840         13947584000
27  1995    1995-12-31  13775.3280         13775328000
28  1994    1994-12-31  13625.4720         13625472000
29  1993    1993-12-31  13099.0720         13099072000
30  1992    1992-12-31  13481.7910         13481791000
31  1991    1991-12-31  13670.5882         13670588200
32  1990    1990-12-31  13168.7500         13168750000
33  1989    1989-12-31  14560.0000         14560000000
34  1988    1988-12-31  14285.2640         14285264000
35  1987    1987-12-31  14063.2800         14063280000
36  1986    1986-12-31  14260.0640         14260064000
37  1985    1985-12-31  13837.8240         13837824000

In [44]:
def outstandingSharesQuarterly(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['outstandingShares']['quarterly']).T

In [45]:
outstandingSharesQuarterly('AAPL')

        date dateFormatted   sharesMln              shares
0    2022-Q2    2022-06-30  16262.2030         16262203000
1    2022-Q1    2022-03-31  16519.2910  16519291000.000002
2    2021-Q4    2021-12-31  16519.2910  16519291000.000002
3    2021-Q3    2021-09-30  16635.0970  16635097000.000002
4    2021-Q2    2021-06-30  16781.7350         16781735000
..       ...           ...         ...                 ...
143  1986-Q3    1986-09-30  14260.0640         14260064000
144  1986-Q2    1986-06-30  14260.0640         14260064000
145  1986-Q1    1986-03-31  14033.6000         14033600000
146  1985-Q4    1985-12-31  13837.8240         13837824000
147  1985-Q3    1985-09-30  13837.8240         13837824000

[148 rows x 4 columns]

In [46]:
def EarningsHistory(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Earnings']['History']).T

In [47]:
EarningsHistory('AAPL')

,reportDate,date,beforeAfterMarket,currency,epsActual,epsEstimate,epsDifference,surprisePercent
2023-03-31,2023-04-26,2023-03-31,BeforeMarket,USD,None,None,None,None
2022-12-31,2023-01-25,2022-12-31,BeforeMarket,USD,None,None,None,None
2022-09-30,2022-10-26,2022-09-30,AfterMarket,USD,None,1.31,None,None
2022-06-30,2022-07-28,2022-06-30,AfterMarket,USD,1.2,1.16,0.04,3.4483
2022-03-31,2022-04-28,2022-03-31,AfterMarket,USD,1.52,1.43,0.09,6.2937
...,...,...,...,...,...,...,...,...
1994-12-31,1995-01-19,1994-12-31,None,USD,0.05,0.04,0.01,25
1994-09-30,1994-10-17,1994-09-30,None,USD,0.03,0.03,0,0
1994-06-30,1994-06-30,1994-06-30,None,USD,0.0104,None,None,None
1994-03-31,1994-03-31,1994-03-31,None,USD,0.0104,None,None,None
1993-12-31,1993-12-31,1993-12-31,None,USD,0.0031,None,None,None

In [59]:
def EarningsTrend(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Earnings']['Trend']).T

In [61]:
EarningsTrend('AAPL')

,date,period,growth,earningsEstimateAvg,earningsEstimateLow,earningsEstimateHigh,earningsEstimateYearAgoEps,earningsEstimateNumberOfAnalysts,earningsEstimateGrowth,revenueEstimateAvg,...,revenueEstimateGrowth,epsTrendCurrent,epsTrend7daysAgo,epsTrend30daysAgo,epsTrend60daysAgo,epsTrend90daysAgo,epsRevisionsUpLast7days,epsRevisionsUpLast30days,epsRevisionsDownLast7days,epsRevisionsDownLast30days
2023-09-30,2023-09-30,+1y,0.0620,6.5100,5.7800,7.3500,6.1300,41.0000,0.0620,414149000000.00,...,0.0530,6.5100,6.5100,6.5500,6.5600,6.5700,0.0000,4.0000,0.0000,2.0000
2022-12-31,2022-12-31,+1q,0.0380,2.1800,1.9600,2.8000,2.1000,24.0000,0.0380,129452000000.00,...,None,2.1800,2.1800,2.1900,2.1900,2.2300,0.0000,4.0000,None,2.0000
2022-09-30,2022-09-30,0y,0.0930,6.1300,5.9300,6.6300,5.6100,41.0000,0.0930,393443000000.00,...,0.0760,6.1300,6.1300,6.1400,6.1400,6.1600,2.0000,8.0000,1.0000,1.0000
2022-06-30,2022-06-30,0q,-0.1080,1.1600,1.0700,1.3100,1.3000,29.0000,-0.1080,82807900000.00,...,None,1.1600,1.1600,1.1600,1.1600,1.2500,2.0000,8.0000,None,0.0000
2022-03-31,2022-03-31,0q,0.0210,1.4300,1.3400,1.5600,1.4000,29.0000,0.0210,93892800000.00,...,None,1.4300,1.4300,1.4300,1.4300,1.3300,0.0000,2.0000,None,2.0000
2021-12-31,2021-12-31,0q,0.1190,1.8800,1.7500,1.9700,1.6800,27.0000,0.1190,118377000000.00,...,None,1.8800,1.8800,1.8800,1.8800,1.8700,1.0000,2.0000,0.0000,0.0000
2021-09-30,2021-09-30,0y,0.7040,5.5900,5.1900,5.9100,3.2800,41.0000,0.7040,366308000000.00,...,0.3340,5.5900,5.5800,5.5800,5.1800,5.1900,1.0000,2.0000,1.0000,1.0000
2021-06-30,2021-06-30,0q,0.5620,1.0000,0.8200,1.1600,0.6400,28.0000,0.5620,72927700000.00,...,0.2220,1.0000,0.9900,0.9900,0.9900,0.8200,2.0000,3.0000,0.0000,None
2021-03-31,2021-03-31,0q,0.5470,0.9900,0.8500,1.0900,0.6400,29.0000,0.5470,77354900000.00,...,0.3270,0.9900,0.9800,0.9800,0.9800,0.9100,1.0000,4.0000,0.0000,None
2020-12-31,2020-12-31,0q,0.1280,1.4100,1.2300,1.5600,1.2500,30.0000,0.1280,103276000000.00,...,0.1670,1.4100,1.4000,1.3900,1.3900,1.3700,2.0000,9.0000,2.0000,None
2020-09-30,2020-09-30,0y,0.0910,3.2400,3.0800,3.4000,2.9700,37.0000,0.0910,273223000000.00,...,0.0500,3.2400,3.2400,3.2400,12.9600,12.4300,2.0000,6.0000,3.0000,None
2020-06-30,2020-06-30,0q,-0.0640,2.0400,1.6700,2.4700,2.1800,31.0000,-0.0640,52247700000.00,...,-0.0290,2.0400,2.0200,2.0000,2.0000,2.0700,4.0000,10.0000,0.0000,None
2020-03-31,2020-03-31,0q,-0.0810,2.2600,1.5200,2.7300,2.4600,29.0000,-0.0810,54544400000.00,...,None,2.2600,2.2800,2.4200,2.7200,3.0000,2.0000,2.0000,3.0000,None
2019-12-31,2019-12-31,0q,0.0890,4.5500,4.3700,4.8300,4.1800,34.0000,0.0890,88496400000.00,...,None,4.5500,4.5400,4.5300,4.5000,4.4500,2.0000,10.0000,0.0000,None
2019-09-30,2019-09-30,0y,-0.0190,11.6800,11.5000,11.8000,11.9100,40.0000,-0.0190,259042000000.00,...,-0.0250,11.6800,11.6700,11.6600,11.6700,11.5800,4.0000,14.0000,0.0000,None
2019-06-30,2019-06-30,0q,-0.1030,2.1000,1.7900,2.2000,2.3400,36.0000,-0.1030,53392100000.00,...,0.0020,2.1000,2.1000,2.1000,2.1000,2.0700,1.0000,3.0000,0.0000,None
2019-03-31,2019-03-31,0q,-0.1360,2.3600,2.1200,2.4900,2.7300,32.0000,-0.1360,57372400000.00,...,-0.0620,2.3600,2.3600,2.3700,2.3700,2.6400,1.0000,4.0000,1.0000,None
2018-12-31,2018-12-31,0q,0.0720,4.1700,4.1300,4.2700,3.8900,33.0000,0.0720,83997900000.00,...,-0.0490,4.1700,4.1700,4.6500,4.7100,4.7500,0.0000,0.0000,3.0000,None
2018-09-30,2018-09-30,0y,0.2800,11.7900,11.4900,12.5000,9.2100,42.0000,0.2800,264031000000.00,...,0.1520,11.7900,11.7800,11.7800,11.7500,11.7200,3.0000,6.0000,0.0000,None
2018-06-30,2018-06-30,0q,0.3050,2.1800,2.1000,2.2800,1.6700,31.0000,0.3050,52335600000.00,...,0.1530,2.1800,2.1800,2.1800,2.1800,2.1100,0.0000,4.0000,0.0000,None
2018-03-31,2018-03-31,0q,0.2810,2.6900,2.5100,2.8000,2.1000,32.0000,0.2810,60975000000.00,...,0.1530,2.6900,2.7000,2.7100,2.7100,2.9100,0.0000,1.0000,3.0000,None
2017-12-31,2017-12-31,0q,0.1490,3.8600,3.6800,4.1200,3.3600,30.0000,0.1490,87282800000.00,...,0.1140,3.8600,3.8000,3.7700,3.7700,3.7700,9.0000,15.0000,0.0000,None
2017-09-30,2017-09-30,0y,0.0830,9.0000,8.9100,9.1500,8.3100,34.0000,0.0830,227414000000.00,...,0.0550,9.0000,9.0100,9.0100,9.0200,8.8700,0.0000,2.0000,0.0000,None
2017-06-30,2017-06-30,0q,0.1060,1.5700,1.5000,1.6400,1.4200,38.0000,0.1060,44885600000.00,...,0.0600,1.5700,1.5700,1.5700,1.5700,1.6200,2.0000,4.0000,1.0000,None

In [65]:
def EarningsAnnual(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Earnings']['Annual']).T

In [66]:
EarningsAnnual('AAPL')

                  date epsActual
2022-06-30  2022-06-30      4.82
2021-09-30  2021-09-30      5.62
2020-09-30  2020-09-30      3.27
2019-09-30  2019-09-30      2.98
2018-09-30  2018-09-30      2.97
2017-09-30  2017-09-30       2.3
2016-09-30  2016-09-30    2.0675
2015-09-30  2015-09-30       2.3
2014-09-30  2014-09-30    1.6075
2013-09-30  2013-09-30     1.415
2012-09-30  2012-09-30    1.5775
2011-09-30  2011-09-30    0.9875
2010-09-30  2010-09-30      0.54
2009-09-30  2009-09-30    0.2225
2008-09-30  2008-09-30      0.38
2007-09-30  2007-09-30      0.55
2006-09-30  2006-09-30      0.33
2005-09-30  2005-09-30       0.2
2004-09-30  2004-09-30      0.05
2003-09-30  2003-09-30    0.0112
2002-09-30  2002-09-30    0.0198
2001-09-30  2001-09-30    0.0061
2000-09-30  2000-09-30      0.11
1999-09-30  1999-09-30      0.09
1998-09-30  1998-09-30      0.06
1997-09-30  1997-09-30   -0.1114
1996-09-30  1996-09-30   -0.1082
1995-09-30  1995-09-30      0.12
1994-09-30  1994-09-30    0.0539

In [75]:
def BalanceSheet_Quarterly(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Financials']['Balance_Sheet']['quarterly']).T

In [76]:
BalanceSheet_Quarterly('AAPL')

,date,filing_date,currency_symbol,totalAssets,intangibleAssets,earningAssets,otherCurrentAssets,totalLiab,totalStockholderEquity,deferredLongTermLiab,...,preferredStockRedeemable,capitalSurpluse,liabilitiesAndStockholdersEquity,cashAndShortTermInvestments,propertyPlantAndEquipmentGross,propertyPlantAndEquipmentNet,accumulatedDepreciation,netWorkingCapital,netInvestedCapital,commonStockSharesOutstanding
2022-06-30,2022-06-30,2022-07-29,USD,336309000000.00,None,None,16386000000.00,278202000000.00,58107000000.00,None,...,None,None,336309000000.00,48231000000.00,None,40335000000.00,None,None,None,16262203000.00
2022-03-31,2022-03-31,2022-04-29,USD,350662000000.00,None,None,15809000000.00,283263000000.00,67399000000.00,None,...,None,None,350662000000.00,51511000000.00,None,39304000000.00,None,-9328000000.00,187380000000.00,16519291000.00
2021-12-31,2021-12-31,2022-01-28,USD,381191000000.00,None,None,18112000000.00,309259000000.00,71932000000.00,None,...,None,None,381191000000.00,63913000000.00,None,39245000000.00,None,5580000000.00,194730000000.00,16519291000.00
2021-09-30,2021-09-30,2021-10-29,USD,351002000000.00,None,None,14111000000.00,287912000000.00,63090000000.00,None,...,None,None,351002000000.00,62639000000.00,None,39440000000.00,None,9355000000.00,187809000000.00,16635097000.00
2021-06-30,2021-06-30,2021-07-28,USD,329840000000.00,None,None,13641000000.00,265560000000.00,64280000000.00,None,...,None,None,329840000000.00,61696000000.00,38615000000.00,38615000000.00,None,6669000000.00,186071000000.00,16781735000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986-09-30,1986-09-30,1986-09-30,USD,1160100000.00,None,None,92900000.00,466000000.00,694100000.00,None,...,None,None,1160100000.00,576200000.00,107300000.00,107300000.00,None,None,None,14260064000.00
1986-06-30,1986-06-30,1986-06-30,USD,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,14260064000.00
1986-03-31,1986-03-31,1986-03-31,USD,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,14033600000.00
1985-12-31,1985-12-31,1985-12-31,USD,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,13837824000.00
1985-09-30,1985-09-30,1985-09-30,USD,936200000.00,None,None,97900000.00,385700000.00,550500000.00,None,...,None,None,936200000.00,337000000.00,90400000.00,90400000.00,None,None,None,13837824000.00

In [83]:
def BalanceSheet_Annual(symbol):
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/fundamentals/'+ symbol +'.' + mkt + '?api_token=' + api_key
    response = requests.get(url)
    response_json = response.json()
    return pd.DataFrame(response_json['Financials']['Balance_Sheet']['yearly']).T

In [84]:
BalanceSheet_Annual('AAPL')

,date,filing_date,currency_symbol,totalAssets,intangibleAssets,earningAssets,otherCurrentAssets,totalLiab,totalStockholderEquity,deferredLongTermLiab,...,preferredStockRedeemable,capitalSurpluse,liabilitiesAndStockholdersEquity,cashAndShortTermInvestments,propertyPlantAndEquipmentGross,propertyPlantAndEquipmentNet,accumulatedDepreciation,netWorkingCapital,netInvestedCapital,commonStockSharesOutstanding
2021-09-30,2021-09-30,2021-10-29,USD,351002000000.00,None,None,14111000000.00,287912000000.00,63090000000.00,None,...,None,None,351002000000.00,62639000000.00,None,39440000000.00,None,9355000000.00,187809000000.00,16864919000.00
2020-09-30,2020-09-30,2020-10-30,USD,323888000000.00,None,None,11264000000.00,258549000000.00,65339000000.00,None,...,None,None,323888000000.00,90943000000.00,36766000000.00,36766000000.00,None,38321000000.00,177775000000.00,17528214000.00
2019-09-30,2019-09-30,2019-10-31,USD,338516000000.00,None,None,12352000000.00,248028000000.00,90488000000.00,None,...,None,None,338516000000.00,100557000000.00,37378000000.00,37378000000.00,None,57101000000.00,198535000000.00,18595652000.00
2018-09-30,2018-09-30,2018-11-05,USD,365725000000.00,None,None,12087000000.00,258578000000.00,107147000000.00,2797000000.00,...,None,None,365725000000.00,66301000000.00,41304000000.00,41304000000.00,None,14473000000.00,221630000000.00,20000436000.00
2017-09-30,2017-09-30,2017-11-03,USD,375319000000.00,2298000000.00,None,13936000000.00,241272000000.00,134047000000.00,2836000000.00,...,None,None,375319000000.00,74181000000.00,33783000000.00,33783000000.00,None,27831000000.00,249727000000.00,21006768000.00
2016-09-30,2016-09-30,2016-10-26,USD,321686000000.00,3206000000.00,None,8283000000.00,193437000000.00,128249000000.00,2930000000.00,...,None,None,321686000000.00,67155000000.00,27010000000.00,27010000000.00,None,None,None,22001124000.00
2015-09-30,2015-09-30,2015-10-28,USD,290479000000.00,3893000000.00,None,15085000000.00,171124000000.00,119355000000.00,3624000000.00,...,None,None,290479000000.00,41601000000.00,22471000000.00,22471000000.00,None,None,None,23172276000.00
2014-09-30,2014-09-30,2014-10-27,USD,231839000000.00,4142000000.00,None,14124000000.00,120292000000.00,111547000000.00,3031000000.00,...,None,None,231839000000.00,25077000000.00,20624000000.00,20624000000.00,None,None,None,24490652000.00
2013-09-30,2013-09-30,2013-10-30,USD,207000000000.00,4179000000.00,None,10335000000.00,83451000000.00,123549000000.00,2625000000.00,...,None,None,207000000000.00,40546000000.00,16597000000.00,16597000000.00,None,None,None,26086536000.00
2012-09-30,2012-09-30,2012-10-31,USD,176064000000.00,4224000000.00,None,9041000000.00,57854000000.00,118210000000.00,2648000000.00,...,None,None,176064000000.00,29129000000.00,15452000000.00,15452000000.00,None,None,None,26469940000.00
2011-09-30,2011-09-30,2011-10-26,USD,116371000000.00,3536000000.00,None,6543000000.00,39756000000.00,76615000000.00,1686000000.00,...,None,None,116371000000.00,25952000000.00,7777000000.00,7777000000.00,None,None,None,26226060000.00
2010-09-30,2010-09-30,2010-10-27,USD,75183000000.00,342000000.00,None,5083000000.00,27392000000.00,47791000000.00,1139000000.00,...,None,None,75183000000.00,25620000000.00,4768000000.00,4768000000.00,None,None,None,25891936000.00
2009-09-30,2009-09-30,2009-10-27,USD,53851000000.00,247000000.00,None,7289000000.00,26019000000.00,27832000000.00,853000000.00,...,None,None,53851000000.00,23464000000.00,2954000000.00,2954000000.00,None,None,None,25396140000.00
2008-09-30,2008-09-30,2008-11-05,USD,39572000000.00,285000000.00,None,4987000000.00,18542000000.00,21030000000.00,None,...,None,None,39572000000.00,24490000000.00,2455000000.00,2455000000.00,None,None,None,25259892000.00
2007-09-30,2007-09-30,2007-11-15,USD,25347000000.00,299000000.00,None,2195000000.00,10815000000.00,14532000000.00,None,...,None,None,25347000000.00,15386000000.00,1832000000.00,1832000000.00,None,None,None,24900176000.00
2006-09-30,2006-09-30,2006-12-29,USD,17205000000.00,139000000.00,None,1284000000.00,7221000000.00,9984000000.00,None,...,None,None,17205000000.00,10110000000.00,1281000000.00,1281000000.00,None,None,None,24570728000.00
2005-09-30,2005-09-30,2005-12-01,USD,11551000000.00,27000000.00,None,562000000.00,4085000000.00,7466000000.00,None,...,None,None,11551000000.00,8261000000.00,817000000.00,817000000.00,None,None,None,23989840000.00
2004-09-30,2004-09-30,2004-12-03,USD,8050000000.00,17000000.00,None,440000000.00,2974000000.00,5076000000.00,None,...,None,None,8050000000.00,5464000000.00,707000000.00,707000000.00,None,None,None,21689416000.00
2003-09-30,2003-09-30,2003-12-19,USD,6815000000.00,24000000.00,None,315000000.00,2592000000.00,4223000000.00,None,...,None,None,6815000000.00,4566000000.00,669000000.00,669000000.00,None,None,None,20354096000.00
2002-09-30,2002-09-30,2002-12-19,USD,6298000000.00,34000000.00,None,441000000.00,2203000000.00,4095000000.00,None,...,None,None,6298000000.00,4337000000.00,621000000.00,621000000.00,None,None,None,20259960000.00
2001-09-30,2001-09-30,2001-12-21,USD,6021000000.00,10000000.00,None,330000000.00,2101000000.00,3920000000.00,None,...,None,None,6021000000.00,4336000000.00,564000000.00,564000000.00,None,None,None,19354328000.00
2000-09-30,2000-09-30,2000-12-14,USD,6803000000.00,None,None,414000000.00,2696000000.00,4107000000.00,None,...,None,None,6803000000.00,4027000000.00,313000000.00,313000000.00,None,None,None,20178144000.00
1999-09-30,1999-09-30,1999-12-22,USD,5161000000.00,None,None,358000000.00,2057000000.00,3104000000.00,None,...,None,None,5161000000.00,3226000000.00,318000000.00,318000000.00,None,None,None,19506368000.00
1998-09-30,1998-09-30,1998-09-25,USD,4289000000.00,None,None,365000000.00,2647000000.00,1642000000.00,None,...,None,None,4289000000.00,2300000000.00,348000000.00,348000000.00,None,None,None,18806704000.00
1997-09-30,1997-09-30,1997-12-05,USD,4233000000.00,None,None,493000000.00,3033000000.00,1200000000.00,None,...,None,None,4233000000.00,1459000000.00,486000000.00,486000000.00,None,None,None,14118944000.00
1996-09-30,1996-09-30,1996-12-19,USD,5364000000.00,None,None,612000000.00,3306000000.00,2058000000.00,None,...,None,None,5364000000.00,1745000000.00,598000000.00,598000000.00,None,None,None,13858208000.00
1995-09-30,1995-09-30,1995-12-19,USD,6231000000.00,None,None,566000000.00,3330000000.00,2901000000.00,None,...,None,None,6231000000.00,952000000.00,711000000.00,711000000.00,None,None,None,13781264000.00
1994-09-30,1994-09-30,1994-12-13,USD,5302746000.00,None,None,548815000.00,2919445000.00,2383301000.00,None,...,None,None,5302746000.00,1257856000.00,667100000.00,667100000.00,None,None,None,13306720000.00
1993-09-30,1993-09-30,1993-09-30,USD,5171400000.00,None,None,773500000.00,3145000000.00,2026400000.00,None,...,None,None,5171400000.00,676400000.00,659500000.00,659500000.00,None,None,None,13107027027.00
1992-09-30,1992-09-30,1992-09-30,USD,4223700000.00,None,None,1392500000.00,2036300000.00,2187400000.00,None,...,None,None,4223700000.00,498600000.00,462200000.00,462200000.00,None,None,None,13687741935.00
1991-09-30,1991-09-30,1991-09-30,USD,3493600000.00,None,None,680600000.00,1726900000.00,1766700000.00,None,...,None,None,3493600000.00,604100000.00,448000000.00,448000000.00,None,None,None,13448682171.00
1990-09-30,1990-09-30,1990-09-30,USD,2975700000.00,None,None,911200000.00,1528900000.00,1446800000.00,None,...,None,None,2975700000.00,374700000.00,398200000.00,398200000.00,None,None,None,14071111111.00
1989-09-30,1989-09-30,1989-09-30,USD,2743900000.00,None,None,587900000.00,1258200000.00,1485700000.00,None,...,None,None,2743900000.00,438300000.00,334200000.00,334200000.00,None,None,None,14363841808.00
1988-09-30,1988-09-30,1988-09-30,USD,2082100000.00,None,None,137000000.00,1078700000.00,1003400000.00,None,...,None,None,2082100000.00,545700000.00,207400000.00,207400000.00,None,None,None,14556363636.00
1987-09-30,1987-09-30,1987-09-30,USD,1477900000.00,None,None,110900000.00,641400000.00,836500000.00,None,...,None,None,1477900000.00,565100000.00,130400000.00,130400000.00,None,None,None,14674698795.00
1986-09-30,1986-09-30,1986-09-30,USD,1160100000.00,None,None,92900000.00,466000000.00,694100000.00,None,...,None,None,1160100000.00,576200000.00,107300000.00,107300000.00,None,None,None,14373333333.00
1985-09-30,1985-09-30,1985-09-30,USD,936200000.00,None,None,97900000.00,385700000.00,550500000.00,None,...,None,None,936200000.00,337000000.00,90400000.00,90400000.00,None,None,None,13708800000.00

## 2) EOD

In [99]:
def priceEOD(symbol, period):
    
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/eod/'+ symbol +'.' + mkt + '?api_token=' + api_key + '&period=' + period
    df = pd.read_csv(url)
    df = df.set_index(['Date'])
    df = df.apply(pd.to_numeric)
    v = df['Volume'].values
    tp = (df['Low'] + df['Close'] + df['High']).div(3).values
    
    return df.assign(vwap=(tp * v).cumsum() / v.cumsum())
    #return df

In [100]:
priceEOD('AAPL', 'd')

,Open,High,Low,Close,Adjusted_close,Volume,vwap
Date,,,,,,,
1980-12-12,28.7392,28.8736,28.7392,28.7392,0.1018,469033600,28.784000
1980-12-15,27.3728,27.3728,27.2608,27.2608,0.0966,175884800,28.378768
1980-12-16,25.3792,25.3792,25.2448,25.2448,0.0894,105728000,27.943661
1980-12-17,25.8720,26.0064,25.8720,25.8720,0.0917,86441600,27.734358
1980-12-18,26.6336,26.7456,26.6336,26.6336,0.0944,73449600,27.648576
...,...,...,...,...,...,...,...
2022-07-25,154.0100,155.0400,152.2800,152.9500,152.9500,53623900,129.288215
2022-07-26,152.2600,153.0900,150.8000,151.6000,151.6000,55138700,129.288574
2022-07-27,152.5800,157.3300,152.1600,156.7900,156.7900,78620700,129.289167
2022-07-28,156.9800,157.6400,154.4100,157.3500,157.3500,81378700,129.289805
2022-07-29,161.2400,163.6300,159.5000,162.5100,162.5100,101689200,129.290762

## 3) Intraday

In [103]:
def priceIntraDay(symbol, interval):
    
    mkt = general(symbol).CountryISO.Country
    url = 'https://eodhistoricaldata.com/api/intraday/'+ symbol +'.' + mkt + '?api_token=' + api_key + '&period=' + interval
    df = pd.read_csv(url)
    df['Datetime'] = pd.to_datetime(df.Datetime)
    df = df.set_index(['Datetime'])
    #df = df.apply(pd.to_numeric)

    return df

In [104]:
priceIntraDay('AAPL', '5m')

,Timestamp,Gmtoffset,Open,High,Low,Close,Volume
Datetime,,,,,,,
2022-04-04 13:30:00,1649079000,0,174.554992,176.100402,174.479995,176.059997,3642066.0
2022-04-04 13:35:00,1649079300,0,176.050003,176.509994,175.729995,176.315002,2012909.0
2022-04-04 13:40:00,1649079600,0,176.320007,176.679992,176.320007,176.399993,1634880.0
2022-04-04 13:45:00,1649079900,0,176.470001,176.880004,176.350006,176.700103,1557810.0
2022-04-04 13:50:00,1649080200,0,176.699996,177.849899,176.699996,177.809997,2398276.0
...,...,...,...,...,...,...,...
2022-07-29 19:40:00,1659123600,0,162.975006,163.059997,162.789993,162.949905,1049245.0
2022-07-29 19:45:00,1659123900,0,162.940002,163.100006,162.880004,162.985000,1058665.0
2022-07-29 19:50:00,1659124200,0,162.990005,163.169998,162.610000,162.699996,1916117.0
2022-07-29 19:55:00,1659124500,0,162.690002,162.720001,162.410003,162.570007,2899241.0
2022-07-29 20:00:00,1659124800,0,162.509994,162.509994,162.509994,162.509994,NaN

In [1]:
values = [1,2,3]

In [2]:
values.max()

AttributeError: 'list' object has no attribute 'max'